body {
    font-family: 'Bungee Inline', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}



h1 {
    font-size: 4vw;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    flex: initial;
    margin: 1vw 3vw;
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    animation: tilt-shaking 1s infinite;
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.2,1.2);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

button:active {
    transform: scale(1.4,1.0) rotate(10deg) translate(0, 10px);
}






.score {
    display: flex;
    flex-direction: row;
}

.player-score-container, .computer-score-container {
    flex: 1;
}

.score-digit {
    font-size: 50px;
}



.updates {
    display: flex;
}

.player-updates, .computer-updates {
    flex: 1;
}
