body {
    font-family: 'Bungee Inline', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom right, skyblue, deepskyblue);
}

body.shake {
    animation: shake 0.5s;
}

.body-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aliceblue;
    margin-top: 7vh;
    padding: 2vh 5vw;
    border-radius: 50px;
}

.main {
    display: flex;
    flex-direction: row;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-1px, -2px) rotate(-1deg); }
    40% { transform: translate(-3px, 0px) rotate(1deg); }
    60% { transform: translate(3px, 2px) rotate(0deg); }
    80% { transform: translate(1px, -1px) rotate(1deg); }
    100% { transform: translate(-1px, 2px) rotate(-1deg); }
  }
  


.title {
    font-size: 4vw;
    margin-bottom: 0;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    flex: initial;
    margin: 1vw 3vw;
    height: 100px;
    width: 100px;
    font-size: 50px;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    animation: tilt-shaking 1s infinite;
    transition: transform 0.1s;
}

button:hover {
    transform: scale(1.2,1.2);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
}

button:active {
    transform: scale(1.4,1.0) rotate(10deg) translate(0, 10px);
}






.score {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-score-container, .computer-score-container {
    flex: 1;
}

.score-digit {
    font-size: 8vw;
}

.line {
    border: 2px black solid;
    margin-top: 20px;
    height: 80px;
}

h3 {
    font-size: 1.8vw;
    margin-bottom: 0;
}



.updates {
    display: flex;
}

.player-updates, .computer-updates {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.head {
    position: relative;
    font-size: 10vw;
    z-index: 1;
}

.hat {
    position: relative;
    font-size: 8vw;
    z-index: 2;
    margin: -6vw;
}

.hand {
    position: relative;
    font-size: 5vw;
    z-index: 2;
    transition: transform 0.1s;
}

.action {
    display: flex;
}

.player, .computer {
    flex: 1;
}

.left {
    transform: rotate(30deg);
}

.right {
    transform: rotate(-30deg);
}

.action .result {
    font-size: medium;
}